/* run_clock_css */
  
/* アナログ時計 */

/* 動き要素すべてを囲む本体部分 */
.run_clock_circle {
    width: 80vmin;
    height: 80vmin;
    position: fixed;
    top: calc((100% - 80vmin) / 2);
    left: calc((100% - 80vmin) / 2);
    z-index: -998;
    overflow: hidden;
    border-radius: 40vmin;
    border: 1px solid rgba(255, 255, 255, .6);
    background: rgba(0, 0, 0, .03);
}

/* 時間、分、秒の固定親要素、時間、分、秒のアニメーション要素 */
.run_clock_base, .run_clock_body {
    width: 80vmin;
    height: 80vmin;
    position: absolute;
    top: 0;
}

/* 時間、分、秒を一定間隔でアニメーション、初期値はJSでrun_clock_baseに設定 */
.run_clock_base:nth-child(1) > .run_clock_body {
    animation: clock_rotate 43200s linear 0s infinite normal;
}
.run_clock_base:nth-child(2) > .run_clock_body {
    animation: clock_rotate 3600s linear 0s infinite normal;
}
.run_clock_base:nth-child(3) > .run_clock_body {
    animation: clock_rotate 60s linear 0s infinite normal;
}

/* 時間 */
.run_clock_body > .run_clock_hour {
    width: 1px;
    height: 20vmin;
    position: relative;
    top: 20vmin;
    margin: 0 auto;
    background: #fff;
}

/* 分 */
.run_clock_body > .run_clock_minute {
    width: 1px;
    height: 40vmin;
    margin: 0 auto;
    background: #fff;
}

/* 秒 */
.run_clock_body > .run_clock_seconds {
    width: 2vmin;
    height: 2vmin;
    border-radius: 1vmin;
    position: relative;
    top: 1vmin;
    margin: 0 auto;
    background: #fff;
}

/* 針のアニメーション */
@keyframes clock_rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* デジタル時計 */
.run_clock_digital {
    position: absolute;
    bottom: 4vmin;
    right: 5vmin;
    text-align: center;
    font-family: 'Belleza', sans-serif;
    color: #fff;
    animation: clock_digital_bottom 2s ease-in-out 0s infinite normal;
}

/* カレンダー */
.run_clock_digital > .clock_calendar {
    line-height: 0;
    font-size: 3vh;
}

/* デジタル時計 */
.run_clock_digital > .clock_dg_clock {
    line-height: 1.5;
    font-size: 10vh;
}

/* 色時計 */
.run_clock_color {
    width: 100vw;
    height: 100vh;
    opacity: .6;
    position: relative;
    z-index: -3000;
}

/* デジタル時計のアニメーション */
@keyframes clock_digital_bottom {
    0% {
        bottom: 4vmin;
    }
    50% {
        bottom: 5vmin;
    }
    100% {
        bottom: 4vmin;
    }
}
