/* run_circle_css */
body {
    margin: 0;
}
/* 背景要素すべてを囲む本体部分 */
.run_background_container {
    width:  100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
    overflow: hidden;
}

/* 動き要素 */
.run_background_container > .circle {
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top : 100%;
    margin-left: 0;
    opacity: 0;
}

/* 上に上がる動き */
@keyframes circle-move{
    0% {
        top: calc(100% + 100px);
    }
    100% {
        top: -100px;
    }
}

/* 横揺れの動き */
@keyframes circle-fluctuation{
    0% {
        margin-left: 0;
    }
    50% {
        margin-left: 20px;
    }
    100% {
        margin-left: 0;
    }
}